<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.gami.douyin_flutter">
  <uses-permission android:name="android.permission.INTERNET" />
  <application
        android:allowBackup="true"
        android:supportsRtl="true">
      <activity
          android:name="com.bytedance.sdk.share.demo.douyinapi.DouYinEntryActivity"
          android:exported="true"
          android:launchMode="singleInstance"/>
    </application>
</manifest>
